body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: darksalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: darksalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    background-color: aliceblue;
}

.quote {
    background-color: beige;
}

footer {
    background-color: darksalmon;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: medium;
}

body>* {
    padding: 16px 100px;
}

.header img {
    width: 50px;
    height: auto;
}

.hero img {
    width: 450px;
    height: auto;
}