.header {
    background-color: aliceblue;
}

.hero {
    background-color: darksalmon;
}

.info {
    background-color: aliceblue;
}

.quote {
    background-color: beige;
}

footer {
    background-color: darksalmon;
}