body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
}

.hero,
.header,
footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 100px 250px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 325px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: medium;
}

body>* {
    padding: 16px 250px;
}

.header img {
    width: 50px;
    height: auto;
}

/* .harvest-cont {
    width: 800px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 20px;
} */

.hero img {
    width: 1600px;
    /* height: auto; */
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p {
    color: #E5E7EB;
}

.hero button {
    background-color: #3882f6;
    color: white;
    padding: 8px 26px;
    font-weight: 800;
    border-radius: 8px;
    border: 0px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 50px;
}

.info-container img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    padding: 16px 50px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 150px;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-sign {
    font-size: 18px;
    font-weight: 800;
    color: #1f2937;
    text-align: right;
}

.sign-up {
    background-color: #3882f6;
    margin: 100px 250px;
    padding: 30px 150px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up>* {
    padding: 0;
}

.sign-head {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.sign-up-text>* {
    margin: 16px;
}

.sign-text {
    color: #e5e7eb;
}

.sign-up-button {
    font-size: 24px;
    font-weight: 800;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    color: #e5e7eb;
}